@inherits Umbraco.Web.Mvc.UmbracoViewPage<PlainSite.ViewModels.ContactFormViewModel>  

@using(Html.BeginUmbracoForm("Submit", "ContactForm")) 
{
    <div>
        @Html.LabelFor(m => m.Firstname)
        @Html.TextBoxFor(m=>m.Firstname)
    </div>
    <div>
        @Html.LabelFor(m => m.Lastname)
        @Html.TextBoxFor(m => m.Lastname)
    </div>
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Message)
        @Html.TextAreaFor(m => m.Message)
    </div>
    <input type="submit" name="Submit" value="Submit" />
}

@Model.Email