@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.BlogItem>
@using ContentModels = Umbraco.Web.PublishedModels
@{
    Layout = "master.cshtml";
}

@{

    Model.Value<int>("blogImage");
 }


@* the fun starts here *@

@{
    DateTime publishedDate = @Model.PublishedDate;
 }

<section id="main" class="wrapper">
    <div class="inner">
        <header class="major special">
            <h2>@Model.Value("blogTitle")</h2>
        </header>

        <span class="image">

            @{
                @*You select the blogImage file as a IPublishedContent type, check its not returned null and the render the image
                    which allows you to access the url property of the blog image.    
                *@
                var typedMediaPickerSingle = Model.Value<IPublishedContent>("blogImage");
                if (typedMediaPickerSingle != null)
                {
                    <img src="@typedMediaPickerSingle.Url" style="width:200px" alt="@typedMediaPickerSingle.Value("alt")" />
                }
            }



            @*<a href="#" class=""><img src="@Model.BlogImage" alt="" /></a>*@
        </span>
        <p>@Model.BlogArticle</p>
        <hr />
        <ul>
            <li>Publish Date: @publishedDate.ToLongDateString()</li>
            <li>Author Date: @Model.BlogAuthor</li>
        </ul>
    </div>
</section>
